<header class="page-header  @@header-mod">
  <div class="page-header__inner">

    <a class="page-header__logo  logo  logo--add" title="Кэт энерджи" href="index.html">
      <picture>
        <source media="(min-width: 1300px)" srcset="img/logo-desktop.svg">
        <source media="(min-width: 768px)" srcset="img/logo-tablet.svg">
        <img class="logo__img" src="img/logo-mobile-header.svg" alt="Лого сайта Кэт энерджи" width="110" height="18">
      </picture>
    </a>
    @@if (index === true) {
      @@include("main-nav.html", { "index": true, "form": false, "catalog": false, "nav-mod": "main-nav__list--promo" })
    }
    @@if (form === true) {
      @@include("main-nav.html", { "index": false, "form": true, "catalog": false, "nav-mod": "" })
    }
    @@if (catalog === true) {
      @@include("main-nav.html", { "index": false, "form": false, "catalog": true, "nav-mod": "" })
    }

  </div>

  @@if (index === true) {
    @@include("proposition.html")
  }

</header>
