.advantages {

}

.advantages__inner {
  padding: 10px $indent $indent;
}

.advantages__title {
}

.advantages__list {
  @include ul-clear;
}

.advantages__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.advantages__img {
  flex-shrink: 0;
  display: flex;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  background-color: $color-main;

  img {
    margin: auto;
  }
}

.advantages__text {
  font-size: 14px;
}
