.catalog {

}

.catalog__inner {
  @include container;
  padding-bottom: $indent;
}

.catalog__title {
  padding-top: 10px;
  padding-bottom: 20px;
}

.catalog__subtitle {

}

@include respond(desktop-all) {
  .catalog__bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;
  }
}
