.categories__inner {
  @include container;
  padding-bottom: $indent;
}

.categories__list {
  @include ul-clear;
}

.categories__item {
  margin-bottom: 20px;
  padding: 20px;
  padding-top: 30px;
  background-color: $color-light-gray;

  &:last-child {
    margin-bottom: 0;
  }
}

.categories__title {
  position: relative;
  margin: 0;
  margin-bottom: 30px;
  padding-left: 72px;
  font-weight: 400;
  font-size: 24px;
  font-family: $ffam-cond;
  text-transform: uppercase;
  color: $color-dark;

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 2px;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    background-color: $color-main;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: -6px;
    width: 70px;
    height: 70px;
    background: transparent url("../img/icon-cat-slim.svg") center no-repeat;
    background-size: contain;
  }

  &--slim {
    &::after {
      left: 10px;
      width: 35px;
      height: 50px;
      background-image: url("../img/icon-cat-slim.svg");
    }
  }

  &--pro {
    &::after {
      left: -10px;
      top: 5px;
      width: 67px;
      height: 28px;
      background-image: url("../img/icon-cat-pro.svg");
    }
  }
}

.categories__text {
  margin: 0;
  padding: 0;
  padding-bottom: 22px;
  font-size: 14px;
  line-height: 1.29;
  font-family: $ffam-base;
  border-bottom: 1px solid $color-gray;
}

.categories__link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding: 15px 15px 0 0;
  color: $color-dark;
  font-weight: 400;
  font-size: 16px;
  //line-height: 1.5;
  font-family: $ffam-cond;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;

  &::after {
    position: absolute;
    content: "";
    width: 35px;
    height: 11px;
    left: 100%;
    bottom: 6px;
    background: transparent url("../img/icon-right-arrow-long.svg") -9px 0 no-repeat;
    background-size: 100% 100%;
    transition: background-position 0.3s;
  }

  &:hover,
  &:focus {
    &::after {
      background-position: -2px 0;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $bp-middle) {
  .categories__inner {
    padding-bottom: 30px;
  }

  .categories__item {
    display: block;
    margin-bottom: 30px;
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 282px;
    padding-bottom: 55px;

    &:nth-child(2) {
      .categories__text {
        padding-right: 35px;
      }
    }
  }

  .categories__title {
    margin-bottom: 15px;
    padding-left: 0;
    font-size: 36px;

    &::before {
      left: 106%;
      top: 21px;
      width: 200px;
      height: 200px;
    }

    &--slim::after {
      left: 113%;
      top: 0;
      width: 140px;
      height: 220px;
    }

    &--pro::after {
      left: 97%;
      top: 7px;
      width: 267px;
      height: 228px;
    }
  }

  .categories__text {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.5;
    border-bottom: none;
  }

  .categories__link {
    padding-right: 25px;
    font-size: 20px;

    &::after {
      width: 41px;
      height: 13px;
      bottom: 10px;
    }
  }
}

@media (min-width: $bp-xlarge) {
  .categories__inner {
    padding-left: 0;
    padding-right: 0;
  }

  .categories__list {
    display: flex;
  }

  .categories__item {
    width: 570px;
    margin: 0 40px;
    padding-right: 50px;

    &:nth-child(2) {
      .categories__text {
        padding-right: 0;
      }
    }
  }

  .categories__title {
    margin-bottom: 65px;
    padding-left: 165px;

    &::before {
      left: 2px;
      top: -22px;
      width: 100px;
      height: 100px;
    }

    &--slim::after {
      left: 15px;
      top: -27px;
      width: 70px;
      height: 97px;
    }

    &--pro::after {
      left: -15px;
      top: 1px;
      width: 134px;
      height: 56px;
    }
  }

  .categories__text {
    margin-bottom: 12px;
    padding-bottom: 0;
  }
}
