.choice-program {
  overflow: hidden;

  .choice-program__title {
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 10px 0;
  }
}

.choice-program__inner {
  @include container;
}

@media (min-width: $bp-middle) {
  .choice-program {
    .choice-program__title {
      margin-bottom: 35px;
    }
  }
}

@media (min-width: $bp-xlarge) {
  .choice-program {
    .choice-program__title {
      margin-bottom: 50px;
      line-height: 1;
    }
  }
}
