.example {
  background-color: $color-light-gray;
}

.example__inner {
  @include container;
  padding-top: 20px;
  padding-bottom: 0;
}

.example__text {
  margin: 0;
  margin-bottom: 20px;
  padding-right: 5px;
  font-size: 14px;
  line-height: 1.29;
}

.example__result {
  margin-bottom: 20px;
}


@media (min-width: $bp-middle) {
  .example {
    background-color: $color-light;
  }

  .example__inner {
    padding-top: 30px;

    .example__title {
      margin-bottom: 50px;
    }
  }

  .example__text {
    padding-right: 10px;
    font-size: 16px;
    line-height: 1.5;
  }

  .example__result {
    padding-top: 30px;
  }
  //
  //.example__slider {
  //  margin-bottom: 40px;
  //}
}

@media (min-width: $bp-xlarge) {
  .example {
    background-image: linear-gradient(to bottom, $color-light 0, $color-light 210px, $color-light-gray 210px, $color-light-gray 100%);
  }

  .example__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 0;

    .example__title {
      margin-bottom: 130px;
    }
  }

  .example__content {
    width: 445px;
    flex-shrink: 0;
    padding-top: 60px;
  }

  .example__text {
    margin-bottom: 40px;
  }
}
