.example {
  background-color: $color-light-gray;
}

.example__inner {
  @include container;
  padding-top: 30px;
  padding-bottom: $indent;
}

.example__text {
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
}

.example__result {
  margin-bottom: 20px;
}

.example__slider {
  margin-bottom: 30px;
}

@include respond(tablet) {
  .example {
    background-color: $color-light;
    background-image: linear-gradient(to top,
      $color-light-gray 0, $color-light-gray 465px,
      $color-light 465px, $color-light 100%);
  }
}

@include respond(desktop-all) {
  .example__inner {
    display: flex;
    justify-content: space-between;
  }

  .example__content {
    width: 435px;
    flex-shrink: 0;
  }

  .example__slider {
    width: 50%;
  }

  .example__text {
    margin-bottom: 60px;
  }
}
