.logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &--add {
    &::before {
      content: "";
      position: absolute;
      left: $indent;
      width: 40px;
      height: 40px;
      background: transparent url("../img/icon-logo-mobile.svg") center center no-repeat;
    }
  }
}

@include respond(tablet) {
  .logo {
    justify-content: space-between;
    left: 0;
    width: 175px;
    min-height: 60px;
    padding-left: 0;
    text-align: left;

    &--add {
      &::before {
        position: static;
        width: 70px;
        height: 60px;
        background-size: contain;
      }
    }
  }

  .logo__img {
    width: 84px;
    height: 20px;
  }
}

@include respond(desktop-all) {
  .logo {
    width: 205px;

    &--add {
      &::before {
        width: 79px;
        height: 69px;
      }
    }
  }

  .logo__img {
    width: 120px;
    height: 30px;
  }
}
