.map {
  background-color: $color-gray;
  background-image: url("../img/map-pin.png"), url("../img/bg-map-mobile@1x.png");
  background-position: center center, center center;
  background-repeat: no-repeat, no-repeat;
  background-size: 60px auto, auto 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/map-pin.png"), url("../img/bg-map-mobile@2x.png");
  }
}

@media (min-width: $bp-middle) {
  .map {
    background-image: url("../img/map-pin.png"), url("../img/bg-map-tablet@1x.png");
    background-size: 100px auto, auto 100%;
    background-position: center 170px, center center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-pin.png"), url("../img/bg-map-tablet@2x.png");
    }
  }
}

@media (min-width: $bp-xlarge) {
  .map {
    background-image: url("../img/map-pin.png"), url("../img/bg-map-desktop@1x.png");
    background-size: auto auto, auto 100%;
    background-position: calc(50vw + 275px) 160px, center center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-pin.png"), url("../img/bg-map-desktop@2x.png");
    }
  }
}
