.page-main__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 36px;
  font-family: $ffam-cond;
  color: $color-dark;
}

.page-main__subtitle {
  margin-right: -20px;
  padding: 25px 0;
  font-weight: 400;
  font-size: 24px;
  font-family: $ffam-cond;
  color: $color-dark;
  overflow: hidden;

  &::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: relative;
    right: -22px;
    height: 4px;
    width: 100%;
    margin-right: -100%;
    background-color: $color-main;
  }
}

@media (min-width: $bp-middle) {
  .page-main__title {
    margin-bottom: 60px;
    font-size: 60px;
  }
}

@media (min-width: $bp-xlarge) {
  .page-main__title {
    margin-bottom: 60px;
  }
}
