.page-header__inner {
  @include container;
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: $bp-middle) {
  .page-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .page-header__logo {
    height: 110px;
  }
}

@media (min-width: $bp-xlarge) {
  .page-header {
    position: relative;

    &--promo {
      &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: calc(50% - 40px);
        height: 100%;
        background: $color-main url("../img/index-background-mobile@1x.jpg") center no-repeat;
        background-size: cover;
      }

      .main-nav__link {
        color: $color-light;

        &--active {
          &::after {
            background-color: $color-light;
          }
        }
      }
    }
  }
}
