.proposition {
  width: 100%;
}

.proposition__inner {
  @include container;
}

.proposition__content {
  min-height: 308px;
  margin-bottom: 137px;
  margin-left: -$indent;
  margin-right: -$indent;
  padding-top: 30px;
  background: $color-main url("../img/index-background-mobile@1x.jpg") center no-repeat;
  background-size: cover;
}

.proposition__title {
  margin-top: 0;
  margin-bottom: 20px;
  color: $color-light;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  font-family: $ffam-cond;
  text-align: center;
}

.proposition__slogan {
  margin-top: 0;
  margin-bottom: 25px;
  color: $color-light;
  font-weight: 400;
  font-size: 14px;
  font-family: $ffam-cond;
  text-align: center;
  text-transform: uppercase;
}

.proposition__img {
  position: absolute;
  top: 165px;
  left: 0;
  right: 0;
  width: 250px;
  height: 260px;
  margin: auto;
  font-size: 0;
  text-align: center;
}

.proposition__btn {
  margin: 135px auto 20px;
}

@include respond(tablet) {
  .proposition__inner {
    min-height: 810px;
  }

  .proposition__content {
    width: 425px;
    min-height: auto;
    margin-left: 95px;
    margin-right: 0;
    margin-bottom: 40px;
    background: none;
  }

  .proposition__title {
    margin-bottom: 40px;
    font-size: 60px;
    text-align: left;
    color: $color-dark;
  }

  .proposition__slogan {
    position: relative;
    z-index: 1;
    font-size: 18px;
    text-align: left;
    color: $color-dark;
  }

  .proposition__img {
    width: 565px;
    height: 580px;
    top: 225px;

    img {
      width: 100%;
    }
  }

  .proposition__btn {
    position: relative;
    bottom: 0;
    z-index: 1;
    width: 250px;
    margin: 0;
    margin-left: 95px;
  }
}

@include respond(desktop-all) {
  .proposition__inner {
    min-height: 710px;
    margin-bottom: 40px;
  }

  .proposition__img {
    top: 0;
    left: 10%;
    width: 485px;
    height: 475px;
  }
}
