.result__list {
  display: flex;
  justify-content: space-between;

  @include ul-clear;
  padding-bottom: 35px;
}

.result__item {
  position: relative;
  width: 44%;
  flex-grow: 1;
  margin-right: 32px;
  padding: 10px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  &:last-child {
    margin-right: 0;
  }
}

.result__value {
  font-weight: 400;
  font-size: 24px;
  font-family: $ffam-cond;
  text-transform: uppercase;
  color: $color-dark;
}

.result__desc {
  position: absolute;
  display: inline-block;
  vertical-align: top;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 15px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  font-family: $ffam-base;
  color: $color-text;
  background-color: $color-light-gray;
}

.result__cost {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  font-family: $ffam-cond;
  text-transform: uppercase;
  color: $color-dark;
}

@media (min-width: $bp-middle) {
  .result {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .result__list {
    width: 370px;
  }

  .result__item {
    margin-right: 40px;
  }

  .result__value {
    font-size: 30px;
    margin-bottom: 8px;
  }

  .result__desc {
    //flex-shrink: 0;
    //max-width: none;
    width: 85%;
    padding: 0 5px;
    background-color: $color-light;
  }

  .result__cost {
    flex-shrink: 0;
    width: 175px;
    font-size: 20px;
    text-align: right;
  }
}

@media (min-width: $bp-xlarge) {
  .result {
    display: block;
  }

  .result__list {
    margin-bottom: 20px;
  }

  .result__cost {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 325px;
  }
}
