$bp-xsmall: 320px; // Tiny-screen and old devices;
//$bp-small: 400px; // Mobiles and portrait-view tablets
//$bp-sm-middle: 600px; // Mobiles and portrait-view tablets
$bp-middle: 768px; // Normal mobile devices and small tablets;
// $bp-large: 992px; // Desktop starts here
$bp-xlarge: 1220px + 2 * 40px; // Desktop seamless transition

/*==========  Mobile First  ==========*/

@mixin respond($media) {

  // for Extra Small Devices, Phones
  @if $media == mobile-small {
    @media only screen and (min-width: $bp-xsmall) { @content; }
  }
  /*
    // for Small Devices, Phones
    @if $media == mobile {
      @media (min-width: $bp-small) { @content; }
    }

    // for Small Devices and Small Tablets
    @if $media == tablet-small {
      @media (min-width: $bp-sm-middle) { @content; }
    }
  */
  // for Small Devices and Tablets
  @if $media == tablet {
    @media (min-width: $bp-middle) { @content; }
  }
/*
  // for Medium Devices, Desktops
  @if $media == desktop {
    @media (min-width: $bp-large) { @content; }
  }
*/
  // for Large Devices, Wide Screens)
  @if $media == desktop-all {
    @media (min-width: $bp-xlarge) { @content; }
  }
}
