.main-nav {
  position: relative;
}

.main-nav__toggler {
  display: block;
  position: absolute;
  top: -45px;
  right: 20px;
  z-index: 5;
  width: 24px;
  height: 24px;
  padding: 0;
  font-size: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  span {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    transform: translateY(-50%);
    background-color: #000000;
    transition: background-color 0.3s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #000000;
      transform-origin: 50% 50%;
      transition: top 0.3s;
    }

    &::before {
      top: 8px;
    }

    &::after {
      top: -8px;
    }
  }

  &:hover {
    span {
      &::before {
        top: 6px;
      }

      &::after {
        top: -6px;
      }
    }
  }
}

.main-nav__list {
  @include ul-clear;
  border-top: 1px solid $color-gray;
  overflow: hidden;

  &--hidden {
    display: none;
  }
}

.main-nav__item {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid $color-gray;
}

.main-nav__link {
  display: inline-block;
  padding: 0;
  font-weight: 500;
  font-size: 20px;
  font-family: $ffam-cond;
  color: $color-dark;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--active {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -10px;
      height: 2px;
      background-color: $color-main;
    }
  }
}

@media (max-width: $bp-middle - 1px) {
  .main-nav {
    .main-nav__list {
      display: none;
    }
  }

  .main-nav--opened {
    .main-nav__toggler {
      span {
        background-color: transparent;
        transition: background-color 0.3s, transform 0.3s 0.5s;

        &::before,
        &::after {
          top: 0;
          transition: top 0.3s, transform 0.3s 0.5s;
        }

        &::before {
          transform: rotate3d(0, 0, 1, 45deg);
        }

        &::after {
          transform: rotate3d(0, 0, 1, -45deg);
        }
      }

      &:hover {
        span {
          transform: rotate3d(0, 0, 1, -90deg);
          transition: transform 0.3s 0.5s;
        }
      }
    }

    .main-nav__list {
      display: block;
    }
  }

  .main-nav--no-js {
    .main-nav__toggler {
      display: none;
    }

    .main-nav__list {
      display: block;
    }
  }
}

@media (min-width: $bp-middle) {
  .main-nav {
    width: 62%;
    flex-grow: 1;
  }

  .main-nav__list {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    border: none;
  }

  .main-nav__item {
    margin: 0 17px;
    padding: 0;
    border: none;

    &:last-child {
      margin-right: 0;
    }
  }

  .main-nav__link {
    padding: 20px 0;
    font-weight: 400;
    font-size: 18px;

    &--active {
      &::after {
        bottom: 10px;
      }
    }
  }

  .main-nav__toggler {
    display: none;
  }
}

@media (min-width: $bp-xlarge) {
  .main-nav {
    flex-grow: 0;
  }

  .main-nav__list {
    &--promo {
      .main-nav__link {
        color: $color-light;

        &--active {
          &::after {
            background-color: $color-light;
          }
        }
      }
    }
  }

  .main-nav__link {
    font-size: 20px;
  }
}
