.advantages__inner {
  @include container;
  padding-bottom: $indent;
}

.advantages__list {
  @include ul-clear;
}

.advantages__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.advantages__img {
  flex-shrink: 0;
  display: flex;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  background-color: $color-main;

  img {
    width: 50px;
    height: 50px;
    margin: auto;
  }
}

.advantages__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
}

@media (min-width: $bp-middle) {
  .advantages {
    border-bottom: 1px solid $color-gray;
  }

  .advantages__inner {
    padding-bottom: 29px;
  }

  .advantages__list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    counter-reset: itemCounter;
  }

  .advantages__item {
    display: block;
    position: relative;
    width: 250px;
    min-height: 231px;
    margin-right: 135px;
    margin-top: 60px;
    margin-bottom: 26px;

    &:first-child {
      &::before {
        right: 20px;
      }
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    //&:nth-child(3),
    //&:nth-child(4) {
    //  margin-bottom: 35px;
    //}

    &::before {
      position: absolute;
      right: 5px;
      top: 0;
      counter-increment: itemCounter;
      content: counter(itemCounter);
      color: $color-light-gray;
      font-weight: 400;
      font-size: 280px;
      line-height: 0.7;
      font-family: $ffam-cond;
    }
  }

  .advantages__title {
    margin-bottom: 0;
  }

  .advantages__text {
    position: relative;
    z-index: 1;
    font-size: 16px;
    line-height: 1.5;
  }

  .advantages__img {
    width: 80px;
    height: 80px;
    margin-bottom: 32px;
  }
}

@media (min-width: 1100px) {
  .advantages__item {
    &:nth-child(2n) {
      margin-right: 135px;
    }
  }
}

@media (min-width: $bp-xlarge) {
  .advantages {
    border: none;
  }

  .advantages__inner {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .advantages__list {
    margin-right: -40px;
    margin-left: -40px;
  }

  .advantages__item {
    width: 245px;
    flex-grow: 0;
    margin: 0 40px 40px;

    &:nth-child(2n) {
      margin-right: 40px;
    }

    //&:nth-child(3),
    //&:nth-child(4) {
    //  margin-bottom: 0;
    //}

    &:first-child {
      &::before {
        right: 15px;
      }
    }

    &::before {
      right: 0;
    }
  }
}
